/* You can add global styles to this file, and also import other style files */
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,700&subset=latin-ext);
@import url('https://fonts.googleapis.com/css?family=PT+Mono&subset=latin-ext');
$fontFamily:'Josefin Sans', Helvetica Neue, Helvetica, Arial, sans-serif;
$pageBackground:#ffffff;
$pageTextColor: #353C4C;

$fontSizeDesktop:20px;
$lineHeightDesktop:26px;
$fontSizeMobile:14px;
$lineHeightMobile:16px;

$break-mobile: 320px;
$break-tablet: 740px;
$break-desktop: 980px;
$break-wide: 1300px;
$blue:#0F50C0;
$darkBlue:#09245a;
$lightBlue:#f0f4fb;
$turquaz:#00CCD0;
$pink:#F032B1;
$darkBlack: #0D0D0D;

$material-form-label: #000000;
$material-form-label-focus: #3f51b5;
$material-form-line: #000000;
$material-form-line-focus: $material-form-label-focus;
$material-form-input-text: $material-form-label;
$material-form-input-text-focus: $material-form-label-focus;
$material-form-field-invalid-foreground: #d50000;

$material-labelOffset: 5px;
$material-textInputPaddingTopBottom: 10px;

body {
    padding:0;
    margin:0;
    /*background: linear-gradient(0deg, rgba(220, 220, 220, 0.298039) 1px, transparent 1px), linear-gradient(90deg, rgba(220, 220, 220, 0.298039) 1px, transparent 1px), #ffffff;
    background-position: -1px -1px;
    background-size: 20px 20px;*/
    font-family: $fontFamily;
    color: $blue;
	font-weight: 300;
    @media screen and (max-width: $break-mobile) {
        font-size: $fontSizeMobile;
        line-height: $lineHeightMobile;
    }
    @media screen and (min-width: $break-wide) {
        font-size: $fontSizeDesktop;
        line-height: $lineHeightDesktop;
    }
}
h1,h2,h3,h4,h5,h6 {
    margin: 0;
}
a {
    text-decoration: none;
        &:hover{
            text-decoration: underline;
        }
        
}
:focus {
    outline: 1px dotted $pageTextColor !important;
} 
header {
    max-width: $break-wide;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    margin: 0px auto 10px auto;
    padding: 0;
    font-size: 0.7em;
        @media screen and (max-width: $break-mobile) {
            justify-content:center;
        }
        nav {
            display: flex;
            border-left: 2px solid rgba(255,255,255,0.2);
            border-right: 2px solid rgba(255,255,255,0.2);
            border-bottom: 2px solid rgba(255,255,255,0.2);
            text-align: center;
            align-items: center;
            justify-content: center;
            padding: 0px 35px;
            @media screen and (max-width: $break-tablet) {
                padding:0;
            }
                a {
                    padding: 0 15px;
                    line-height: 2em;
                    font-weight: 700;
                    font-size: 0.8em;
                    border-bottom:2px solid transparent;
                    text-transform: uppercase;
                    color:#ffffff;        
                        &:hover {
                            text-decoration: none;
                        }       
                        &:active,&:focus  {
                            color: $darkBlue;
                        }
                        &::after {
                            content: '';
                            display: block;
                            width: 0;
                            height: 3px;
                            background:$darkBlue;
                            transition: width .3s;
                        }
                        &:hover::after {
                            width: 100%;
                        }

                }
        }
        svg {
            max-width: 215px;
            max-height: 83px;
            width: 100%;
            @media screen and (max-width: $break-tablet) {
                margin: 0px auto
            }
        }
        #cnrLogo {
            max-width: 160px;
        }         
}
.lightBg {
    background: $lightBlue;
    width: 100%;
}
.pullLeft {
    float: left;
}
.pullRight {
    float: right;
}
.section {
    max-width: $break-wide;
    margin: 120px auto;
    @media screen and (max-width: $break-tablet) {
        padding: 0px 15px;
    }
    .title {
        text-align: center;
        line-height: 2em;
    }
    .description {
        text-align: center;
        line-height: 2em;
        font-weight: 300;
        margin: 0 auto 50px auto;
    }
}
div#hero {
    background: $blue url('./assets/slice3.png') center center repeat;
    background-size: 80%;
    overflow: auto;
    @media screen and (max-width: $break-tablet) {
        padding: 0px 15px;
    }
}
#aboutMe {
    max-width: $break-wide;
    text-align: left;
    font-weight: 300;
    margin: 100px auto;
    color:#ffffff;
        p   {
            line-height: 2em;
            font-size: 1em; 
        }
        h1  {
            font-weight: 300;
            font-size: 2em; 
        }
        span {
            font-weight: 700;
        }
}
.myPhoto {
    @media screen and (max-width: $break-tablet) {
        text-align: center;
    }
    img {
        margin:0 0 100px 120px;
        box-shadow: 15px 15px 0px rgba(0, 0, 0, 0.3);
        max-width: 427px;
        width: 100%;
        @media screen and (max-width: $break-tablet) {
            text-align: center;
            margin:0 auto 50px auto;
            width: 90%;
        }
    }
    &:before {
        content: "";
        width: 38px;
        height: 38px;
        background: $turquaz;
        display: block;
        border-radius: 50%;
        margin-left: 100px;
        margin-top: 30px;
        z-index: 1;
        position: absolute;
        @media screen and (max-width: $break-tablet) {
            display: none;
        }
    }

    &:after {
        content: "";
        width: 138px;
        height: 18px;
        background: $pink;
        display: block;
        margin-left: 375px;
        margin-top: -435px;
        z-index: 1;
        position: absolute;
        @media screen and (max-width: $break-tablet) {
            display: none;
        }
    }
}
#myWorks {
    overflow: auto;
    ul {
        list-style-type: none;
        padding: 0;
        li {
            width: calc(50% - 2px);
            padding-bottom: 50px;
            .wtitle {
                background: $pink;
                padding: 10px;
                position: relative;
                color: #ffffff;
                margin:0px 50px;
            }
            .wdate {
                border-bottom:2px solid $blue;
                margin-top: 36px;
                font-size: 0.8em;
            }
            &:nth-child(odd) {
                float: left;
                text-align: left;
                border-right: 2px solid $blue;
                img {
                    margin:-10px 0px 0px 0px;
                    box-shadow: 15px 15px 0px $blue;
                    width: 80%;
                }
                .wdate {
                    float: right;
                    margin-right: 20px;
                }
            }
            &:nth-child(even) {
                float: right;
                text-align: right;
                border-left: 2px solid $blue;
                padding-top: 50px;
                img {
                    margin:-10px 0px 0px 0px;
                    box-shadow: -15px 15px 0px $blue;
                    width: 80%;
                }
                .wdate {
                    float: left;
                    margin-left: 20px;
                }

            }
        }
    }
}
#followingList {
    overflow: auto;
    padding: 30px 0px;
    figure {
        float: left;
        width: 33%;
        margin:0;
        figcaption {
            font-size: 1.3em;
        }
    }
    a {
        font-weight: 700;
        color:$blue;
        &:hover {
            color: $darkBlue;
        }
    }
    dd {
        margin-left: 0px;
        border-left:2px solid $pink;
        padding-left: 10px;
        margin:0 0 20px 0;
        transition: 0.2s all cubic-bezier(0.1, 0.7, 1.0, 0.1);
        font-size: 0.8em;
    }
}
#contactMe .feedWrapper {
    display: flex;
    flex-wrap: wrap;
        .feedblock {
            flex-grow: 1;
            width: 27%;
            margin: 1%;
            ul {
                margin: 0px;
                padding: 0px;
                list-style-type: none;
            }
            li {
                margin-bottom: 15px;
            }
            h4 {
                margin-bottom: 20px;
                border-bottom: 2px solid $pink;
                display: inline-block;
            }
           
        }
        .dribbleshot {
            display: inline;
        }
        .dribbledesc {
            display: none;
        }
        .dribbleimg {
            width:31%;
            margin: 1px;
        }
        .githubtype {
            font-size: 0.8em;
            font-weight: 700;
            border-right: 1px solid $blue;
            padding-right: 5px;
            margin-right: 5px;
        } 
        .githubrepo {
            font-size: 0.8em;
            font-weight: 700;
            color:$blue;
            &:hover {
                color: $darkBlue;
            }
        }
        .githubmessage {
            display: block;
            font-size: 0.8em;
        } 
        .githubdate {
            display: block;
            font-size: 0.8em;
        } 
}
.material-form-field{
    font-family: $fontFamily;
    font-size:14px;
    position:relative;
    margin-right: 20px;
    display:block;
    color:$blue;
    padding:$material-labelOffset 0 10px 0;
  
    &::after{
      content:"\00A0";
      display:block;
      color: $material-form-field-invalid-foreground;
      font-size:12px;
      padding-top:5px;
    }
  
    .material-form-field-label{
      position:absolute;
      display:block;
      top: $material-labelOffset + $material-textInputPaddingTopBottom;
      left: 0px;
      transition:0.2s ease all; 
      -moz-transition:0.2s ease all; 
      -webkit-transition:0.2s ease all;
      pointer-events:none;
      cursor:text;
      font-weight: 400;
    }
    button {
        background: transparent;
        border: 1px solid $blue;
        padding: 10px 20px;
        color: $blue;
        &:hover {
            background: $lightBlue;
            border: 1px solid $blue;
        }
    }
    input,textarea{
      padding:$material-textInputPaddingTopBottom 0 $material-textInputPaddingTopBottom 0;
      display:block;
      width:100%;
      border:none;
      font-size:14px;
      color:$blue;
      border-bottom:1px solid $blue;
      outline:none;
      resize: vertical; 
  
      &:invalid{
        outline:none;
        box-shadow: none;
      }
      &:valid, &:focus{
        & ~ .material-form-field-label{
          top: $material-labelOffset - ($material-textInputPaddingTopBottom + 5);
          font-size:12px;
        }
      }
      &:focus{
        outline:none;
        color:$material-form-input-text-focus;
        padding-bottom: $material-textInputPaddingTopBottom - 2;
        border-bottom-width:3px;
        border-bottom-color:$material-form-line-focus;
  
        & ~ .material-form-field-label{
          color:$material-form-label-focus;
        }
      }
    }
  }
  
footer {
    max-width: $break-wide;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    margin: 0px auto 50px auto;
    padding: 15px 0;
    font-size: 0.7em;
    font-weight: 700;
    color:$blue;
        span {
            border-top:2px solid $blue;
            padding: 15px 0;
        }
        ol {            
            border-top:2px solid $blue;
            padding: 0;
            li {
                display: inline;
                a {
                    padding: 15px 5px;
                    display: inline-block;
                    &:hover {
                        fill: $darkBlue;
                    }  
                }
            }
        }
        svg {
            width: 24px;
            height: 24px;
            fill:$blue;
            
        }
}